[submodule "EasyManager"]
	path = EasyManager
	url = https://cnb.cool/mdtbbs/EasyManager.git
	branch = master

[submodule "MindAuth"]
	path = MindAuth
	url = https://cnb.cool/mdtbbs/MindAuth.git
	branch = main

[submodule "MindFourm"]
	path = MindFourm
	url = https://cnb.cool/mdtbbs/MindFourm.git
	branch = master
